.icon {
  margin-right: 8px;

  stroke: #0075FF;
}

.link {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  width: 100%;
  height: 100%;
}

.text {
  font-size: 14px;
  line-height: 20px;
  color: #0075FF;
}

.container {
  position: relative;

  display: flex;
  align-items: center;

  cursor: pointer;
  transition: all .1s ease;

  &:hover {
    opacity: .7;
  }

  &:active {
    opacity: .5;
  }
}